<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Groupe</title>
</head>
<body>
    <h1>Ajouter un nouveau Groupe</h1>
    <form action="{{ url_for('add_groupe') }}" method="POST">
        <div>
            <label for="table">Table:</label>
            <input type="text" id="table" name="table" required>
        </div>
        <div>
            <label for="nom">Nom:</label>
            <input type="text" id="nom" name="nom" required>
        </div>
        <div>
            <label for="prenom">Prénom:</label>
            <input type="text" id="prenom" name="prenom" required>
        </div>
        <button type="submit">Ajouter Groupe</button>
    </form>
    <a href="{{ url_for('add_commande') }}">Retour aux commandes</a>
</body>
</html>
